body {
  background-color: #EFEDEA; }

.App {
  text-align: center; }

.App-header {
  background-color: #006A4D;
  height: 70px;
  padding: 20px;
  color: white;
  text-align: left; }

.App-title {
  font-size: 1.5em;
  margin-top: 20px; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.file-upload-component .drag-drop-area {
  width: 25%;
  height: 170px;
  border-width: 2px;
  border-color: #666666;
  border-style: dashed;
  border-radius: 5px;
  cursor: pointer; }
  .file-upload-component .drag-drop-area.upload {
    cursor: auto; }
  .file-upload-component .drag-drop-area .place-holder {
    margin: 46px auto 0px; }

.selected-file-name {
  margin: 43px auto 16px; }
  .selected-file-name strong {
    display: inline-block; }
  .selected-file-name > div {
    display: inline-block; }
    .selected-file-name > div > a > span {
      font-size: 15px !important;
      margin-left: 10px; }

.display-upload-file {
  display: inline-block;
  margin-left: 20px; }

.paper {
  width: 80%;
  margin: 50px auto; }
  .paper .MuiPaper-root-24 {
    padding: 30px; }
  .paper h2 {
    padding-top: 30px; }
  .paper .panel-details {
    margin-left: 53px; }
    .paper .panel-details > span {
      font-size: 0.85rem; }
      .paper .panel-details > span span {
        color: #006A4D;
        font-weight: bolder; }
    .paper .panel-details > div {
      text-align: left;
      margin-left: -24px; }
      .paper .panel-details > div > button {
        color: #006A4D;
        font-size: 0.72rem;
        text-decoration: underline;
        font-weight: bolder; }

.display-upload-container button {
  color: white;
  background-color: #006A4D; }
  .display-upload-container button:hover {
    background-color: #649C00; }

.MuiCircularProgress-colorPrimary-27 {
  color: #006A4D !important; }
