@import '../../App.scss';

.file-upload-component {

  .drag-drop-area {
    width: 25%;
    height: 170px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
    cursor: pointer;

    &.upload {
      cursor: auto;
    }

    .place-holder {
      margin: 46px auto 0px;
    }
  }
}

.selected-file-name {
  margin:43px auto 16px;

  strong {
    display: inline-block;
  }

  & > div {
    display: inline-block;
    & > a > span{
      font-size: 15px !important;
      margin-left: 10px;
    }
  }
}


.display-upload-file {
  display: inline-block;
  margin-left: 20px;
}

.paper {
  width: 80%;
  margin: 50px auto;

  .MuiPaper-root-24 {
    padding:30px;
  }

  h2 {
    padding-top: 30px;
  }

  .panel-details {
    margin-left: 53px;

    & > span {
      font-size: 0.85rem;
      span {
        color: $primary-color;
        font-weight: bolder;
      }
    }

    & > div {
      text-align: left;
      margin-left: -24px;

      & > button {
        color: $primary-color;
        font-size: 0.72rem;
        text-decoration: underline;
        font-weight: bolder;
      }
    }
  }
}

.display-upload-container {
  button {
    color: rgba(255, 255, 255, 1) ;
    background-color: $primary-color;

    &:hover {
      background-color: $primary-hover ;
     }
  }
}

.MuiCircularProgress-colorPrimary-27 {
  color: $primary-color !important;
}